{% extends "layout.html" %}

{% block modal %}
<div class="md-modal md-effect-14 " id="effect-14" style="">
    <div class="md-content">
      <div class="modal-header">
        <h4>Alert - Collapse detected!</h4>
      </div>
      <div class="modal-body">
        <div id="notifying" class="text-center">
            <table>
            <tbody>
                <tr>
                    <td>
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                       <h5>Notifying Emergency services...</h5>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="preloader-wrapper active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                       <h5>Notifying Contacts...</h5>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <div id="notified" class="text-center">
            <table>
            <tbody>
                <tr>
                    <td>
                        <i class="material-icons white primary-color-text">check</i>
                    </td>
                    <td>
                       <h5>Notified Emergency services.</h5>
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="material-icons white primary-color-text">check</i>
                    </td>
                    <td>
                       <h5>Notified Contacts.</h5>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

      </div>
    </div>
</div>

<div class="md-overlay"></div>
{% endblock %}

{% block content %}

<div id="dashboard-content" class="container section">

        <div class="row">

            <div class="col s12 m12 l4">
                <div class="row">
                    <div class="col s12">

                        <div class="card" style="height: 622.5px;">
                            <div class="card-content">
                                <table>
                                    <!-- Stats -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Isolde Storch</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Customer since</td>
                                        <td>11.11.2015</td>
                                    </tr>
                                    <tr>
                                        <td>Last update</td>
                                        <td>12:31 - 02.10.16</td>
                                    </tr>
                                    </tbody>

                                    <!-- Devices -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Devices</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">phone_android</i>- Nexus 5X
                                        </td>
                                        <td class="green-text">Activated</td>
                                    </tr>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">watch</i>-
                                            Motorola Moto 360
                                        </td>
                                        <td class="red-text">Deactivated</td>
                                    </tr>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">watch</i>-
                                            Garmin Vivosmart HR
                                        </td>
                                        <td class="red-text">Deactivated</td>
                                    </tr>
                                    </tbody>

                                    <!-- Devices -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Services</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="#!">Collapse Detection</a></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l8">
                <div class="row">

                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <table>
                                    <!-- Stats -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Connected Members</span></th>
                                        <th class="center"><i class="material-icons valign tiny">email</i></th>
                                        <th class="center"><i class="material-icons valign tiny">phone</i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Robert Stark</td>
                                        <td>robert@email.de</td>
                                        <td>+49 (0)1776-987424</td>
                                    </tr>
                                    <tr>
                                        <td>Marvin Gorecki</td>
                                        <td>robert@email.de</td>
                                        <td>+49 (0)1776-987424</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <table>
                                    <!-- Stats -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Insurance Packages</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Please parse here your awesome insurance packages</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Bins -->
                    <div class="col s12">
                        <div id="bin-container" class="card small">
                            <div class="card-content">
                                <span class="card-title truncate">Past Days</span>
                                <div id="cards-container" style="height:200px; margin-top: 5px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block login_header %}
    <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger valign-wrapper" href="#signout-modal">Isolde Storch
            <img class="circle" src="{{ url_for('static', filename='images/isolde-profilbild.png') }}" alt="Profile Pic"></a>
        </li>
    </ul>

    <ul id="nav-mobile" class="right side-nav">
        <li class="active valign-wrapper"><a class="modal-trigger" href="#signout-modal">Sign out</a></li>
    </ul>
{% endblock %}

{%  block login_modal %}
<!-- Login Modal -->
<div id="signout-modal" class="modal">
    <div class="modal-content">
        <h4 class="primary-color-text">Sign out</h4>
        <div class="row">
            <div class="modal-footer col s12">
                <a href="#!"
                   class=" modal-action modal-close waves-effect waves-green primary-color btn left">Cancel</a>
                <a href="/" class=" modal-action modal-close waves-effect waves-green primary-color btn">
                    Sign out!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

    (function poll() {
       setTimeout(function() {
       $.ajax({ url: 'http://localhost:5000/updated/',
               success: function(data) {
                    console.log(data.data.updated);
                    if (data.data.updated) {
                        $('#effect-14').niftyModal('show');
                        updateNotifyModal();
                    }
               },
                data: {customer_id: 221},
                method: 'POST',
               dataType: "json",
               complete: poll });
    }, 2000);
    })();
});
</script>
<script>
function updateNotifyModal() {
    setTimeout(function(){
        $('#notifying').replaceWith($('#notified'));
        $('#notified').show();
    },
        3000
    );
};
</script>
{% endblock %}
