{% extends "layout.html" %}

{% block modal %}
<div class="md-modal md-effect-14 " id="effect-14">
    <div class="md-content black">

      <div class="modal-body">
        <h4 style="padding-bottom:20px;">Alert - Collapse detected!</h4>
        <div class="text-center">

            <div id ="notifying-services">
                <div class="preloader-wrapper active left">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
               <h5>Notifying Emergency services...</h5>
            </div>

            <div id ="notifying-contacts">
                <div class="preloader-wrapper active left">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
               <h5>Notifying Contacts...</h5>
            </div>
        </div>

        <div id ="notified-services">
           <i class="material-icons green-text left">check</i>
           <h5 class="green-text">Notified Emergency services.</h5>
        </div>

        <div id ="notified-contacts">
            <i class="material-icons green-text left">check</i>
            <h5 class="green-text">Notified Contacts.</h5>
        </div>

      </div>
    </div>
</div>

<div class="md-overlay"></div>
{% endblock %}

{% block content %}

<div id="dashboard-content" class="container section">

        <div class="row">
            <div class="col s12">

                <div class="card">
                    <div class="card-content row">
                        <div class="row">
                            <div class="col s12 l6">
                                <table>
                                    <!-- User Profile -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">{{customer.AccountHolderContact.AccountName}}</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Date of birth</td>
                                        <td>{{customer.AccountHolderContact.DateOfBirth}}</td>
                                    </tr>
                                    <tr>
                                        <td>Customer since</td>
                                        <td>{{customer.AccountHolderContact.CreateTime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last update</td>
                                        <td>2016-11-20</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col s12 l6">
                                <table>
                                    <!-- Devices -->
                                    <thead>
                                    <tr>
                                        <th><span class="card-title truncate primary-color-text">Devices</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">phone_android</i>- Nexus 5X
                                        </td>
                                        <td class="green-text">Activated</td>
                                    </tr>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">watch</i>-
                                            Motorola Moto 360
                                        </td>
                                        <td class="red-text">Deactivated</td>
                                    </tr>
                                    <tr>
                                        <td class="valign-wrapper"><i
                                                class="material-icons primary-color-text">watch</i>-
                                            Garmin Vivosmart HR
                                        </td>
                                        <td class="red-text">Deactivated</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <table>
                            <!-- Stats -->
                            <thead>
                            <tr>
                                <th><span class="card-title truncate primary-color-text">Connected Members</span></th>
                                <th class="center"><i class="material-icons valign tiny">email</i></th>
                                <th class="center"><i class="material-icons valign tiny">phone</i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Robert Peters</td>
                                <td class="center">robert.peters@email.de</td>
                                <td class="center">+49 (0)1776-987424</td>
                            </tr>
                            <tr>
                                <td>Dr. Marvin Strolch</td>
                                <td class="center">marvin.dr@gmail.de</td>
                                <td class="center">+49 (0)1775-987415</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>


            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <table>
                            <!-- Stats -->
                            <thead>
                            <tr>
                                <th><span class="card-title truncate primary-color-text">Insurance Packages</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="width: 90%    ">
                                <!--<td style="width: 30%"><img class=" package" src="{{ url_for('static', filename='images/car_insurance.svg') }}">
                                    <h6 class="center-align">Car Insurance</h6></td> -->
                                <td style="width: 50%"><img class=" package" src="{{ url_for('static', filename='images/life_insurance.jpg') }}">
                                    <h6 class="center-align">Life Insurance</h6></td>
                                <td style="width: 50%"><img class=" package" src="{{ url_for('static', filename='images/accident_insurance.png') }}">
                                    <h6 class="center-align">Accident Insurance</h6></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block login_header %}
    <ul class="right hide-on-small-only">
        <li><a class="modal-trigger valign-wrapper" href="#signout-modal">{{customer.AccountHolderContact.AccountName}}
            <img class="circle" src="{{ url_for('static', filename='images/isolde-profilbild.png') }}" alt="Profile Pic"></a>
        </li>
    </ul>
{% endblock %}

{%  block login_modal %}
<!-- Login Modal -->
<div id="signout-modal" class="modal">
    <div class="modal-content">
        <h4 class="primary-color-text">Sign out</h4>
        <div class="row">
            <div class="modal-footer col s12">
                <a href="#!"
                   class=" modal-action modal-close waves-effect waves-green primary-color btn left">Cancel</a>
                <a href="/" class=" modal-action modal-close waves-effect waves-green primary-color btn">
                    Sign out!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

    (function poll() {
       setTimeout(function() {
       $.ajax({ url: 'http://localhost:5000/updated/',
               success: function(data) {
                    console.log(data.data.updated);
                    if (data.data.updated) {
                        $('#effect-14').niftyModal('show');
                        updateNotifyModal();
                    }
               },
                data: {customer_id: 221},
                method: 'POST',
               dataType: "json",
               complete: poll });
    }, 2000);
    })();
});
</script>
<script>
function updateNotifyModal() {
    setTimeout(function(){
        $('#notifying-services').replaceWith($('#notified-services'));
        $('#notified-services').show();

    },
        3000
    );

        setTimeout(function(){
        $('#notifying-contacts').replaceWith($('#notified-contacts'));
        $('#notified-contacts').show();
    },
        5000
    );
};
</script>
{% endblock %}
